.followers {
  .action {
    margin: auto;
    margin-right: 0;

    ion-icon {
      font-size: 40px;

      &.accept {
        color: #27ae60;
      }

      &.decline {
        color: #c0392b;
      }
    }
  }
}
