.vlog {
  height: 100%;
  width: 100%;
  position: relative;

  &__user {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;

    img {
      height: 30px;
      width: 30px;
      border-radius: 100%;
      margin-right: 10px;
    }

    .name {
      color: $white;
    }
  }

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .controls {
    position: absolute;
    width: 80%;
    bottom: 40px;
    background: rgba($color: #fff, $alpha: 0.3);
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    z-index: 100;

    span {
      color: #fff;
      font-size: 13px;

      &.current-time {
        margin-right: 10px;
      }

      &.total-time {
        margin-left: 10px;
      }
    }

    // progress {
    //   border-radius: 0;
    //   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    //   height: 5px;
    // }
    // progress::-webkit-progress-bar {
    //   background-color: #f3f3f3;
    //   border-radius: 0;
    // }
    // progress::-webkit-progress-value {
    //   background-color: #fff;
    //   border-radius: 0;
    //   // box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);

    //   &::after {
    //     content: '';
    //     width: 6px;
    //     height: 6px;
    //     position: absolute;
    //     border-radius: 100%;
    //     right: 7px;
    //     background-color: $white;
    //   }
    // }

    .progressBar {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #f3f3f3;
      outline: none;
      // opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }

    .progressBar::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
    }

    .progressBar::-moz-range-thumb {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
    }
  }

  &__stats {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;
    display: flex;
    width: 100%;
    padding: 8px 10px;

    .left {
      width: 55%;
      display: flex;
      justify-content: space-between;

      & > div {
        display: flex;
        align-items: center;

        ion-icon {
          margin-right: 5px;
        }
      }
    }

    .record {
      height: 20px;
      width: 20px;
      border-radius: 100%;
      background: #e74c3c;
      margin: auto;
      margin-right: 0;
    }
  }
}
