.login {
  height: 100vh;
  padding: 0 15px;
  overflow: hidden;

  &__logo {
    margin: 30px 0;
    text-align: center;

    img {
      width: 150px;
    }
  }

  &__form {
    width: 70%;
    max-width: 400px;
    margin: auto;

    .actions {
      margin-top: 30px;

      a {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
      }
    }
  }

  h1 {
    font-size: 40px;
  }
}
