ion-item {
  --border-color: 1px solid $black;
  --padding-start: 0px;
}

ion-input {
  --padding-start: 10px !important;
  --padding-bottom: 0 !important;
  font-size: 14px !important;
}

.ion-page {
  padding: 15px 15px 0px 15px;
}
